# git stuff
.git
.gitignore
.github

# project stuff
node_modules/
database.sqlite
npm-debug.log
.DS_Store
*.env
coverage/
.vscode/

# things we don't want in the container
Dockerfile
*.md

# mostly ignore or config files
.*
